{
 servers {
  protocols h1 h2
 }
}

dashboard.home.arpa {
 tls internal
 reverse_proxy 127.0.0.1:7575
}

sonarr.home.arpa {
 tls internal
 reverse_proxy 127.0.0.1:8989
}

radarr.home.arpa {
 tls internal
 reverse_proxy 127.0.0.1:7878
}

prowlarr.home.arpa {
 tls internal
 reverse_proxy 127.0.0.1:9696
}

jellyseerr.home.arpa {
 tls internal
 reverse_proxy 127.0.0.1:5056
}

jellyfin.home.arpa {
 tls internal
 reverse_proxy 127.0.0.1:8096
}

qbittorrent.home.arpa {
 tls internal
 reverse_proxy 127.0.0.1:8080
}

pihole.home.arpa {
 tls internal
 reverse_proxy 127.0.0.1:3000
}

flaresolverr.home.arpa {
 tls internal
 reverse_proxy 127.0.0.1:8191
}

uptime.home.arpa {
 tls internal
 reverse_proxy 127.0.0.1:3002
}
